<h1>Stupid Coaching</h1>
<div class="input">
  <p>Your question: <%= @answer %></p>
  <p>-You</p>
</div>
<div class="anaswer">
  <p>Coach's answer: <%= @coach_answer %></p>
  <p>-Your coach</p>
</div>
<%= link_to "Ask me a new question", ask_path %>
